<div class="cuerpo">
  <section class="sidebar">
    <button class="toggle-button" (click)="toggleSidebar()">☰</button>
    <div class="sidebar-content" [class.collapsed]="isSidebarCollapsed">
      <div class="section">
        <h3>Imágenes</h3>
        <div class="list-group">
          <div class="list-group-item" *ngFor="let captura of tejidosArray[0]?.capturas" (click)="seleccionarImagen(captura)">
            {{ captura.name }}
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Notas</h3>
        <div class="list-group">
          <div class="list-group-item" *ngFor="let nota of tejidosArray[0]?.notas" (click)="selectCategory(nota.nota)">
            {{ nota.nota }}
          </div>
        </div>
        <form (ngSubmit)="addNota()">
          <textarea [(ngModel)]="newNota" name="newNota" placeholder="Escribe una nueva nota"></textarea>
          <input type="hidden" name="csrfmiddlewaretoken" [value]="getCSRFToken()">
          <button type="submit">Agregar Nota</button>
        </form>
      </div>

      <div class="section">
        <h3>Sistemas y Órganos</h3>
        <div class="list-group">
          <div class="list-group-item" *ngFor="let sistema of tejidosArray[0]?.sistemas" (click)="selectCategory(sistema)">
            {{ sistema }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="base">
    <app-imagen-zoom [imageUrl]="imagenSeleccionada?.image" [initialLabels]="initialLabels"></app-imagen-zoom>
  </section>
</div>