header {
    background-color: #24407e;
    color: #fff;
    padding: 5px 10px; /* Reduce el padding para hacer el header más delgado */
    display: flex;
    justify-content: space-between; /* Asegura que haya espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    max-height: 60px; /* Ajusta la altura máxima del header */
}

.nombre {
    display: flex;
    align-items: center; /* Asegura que el contenido esté alineado verticalmente */
    text-align: left;
}

.titulo {
    margin-left: 10px;
    font-size: 20px; /* Reduce el tamaño de la fuente */
}

.menu {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del menú */
    gap: 0.5rem; /* Reduce el espaciado entre los elementos del menú */
}

.menu img {
    width: 40px; /* Reduce el tamaño de la imagen */
    height: 40px; /* Reduce el tamaño de la imagen */
    border-radius: 50%;
}

.header-img {
    max-height: 60px; /* Ensure the image does not exceed the header height */
    max-width: 60px; /* Ensure the image does not exceed the header width */
    height: auto;
    width: auto;
}

button {
    cursor: pointer;
    height: 30px; /* Reduce la altura del botón */
    width: auto; /* Ajusta el ancho del botón automáticamente */
    padding: 0 10px; /* Ajusta el padding del botón */
    border-radius: 5px; /* Reduce el radio de borde */
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 14px; /* Reduce el tamaño de la fuente */
}

h1 {
    margin: 0;
    font-size: 20px; /* Reduce el tamaño de la fuente */
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #24407e;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
