<header>
  <div class="nombre">
    <img src="favicon.png" alt="" class="header-img">
    <h1 class="titulo">Muestras Histológicas UTA</h1>
  </div>
  <div class="menu" *ngIf="isLoggedIn()">
    <button routerLink="">Inicio</button>
    <button routerLink="/settings">Perfil</button>
    <button routerLink="/uploadimg">Agregar Imagen</button>
    <button (click)="logout()">Logout</button>
    <img src="https://w7.pngwing.com/pngs/196/91/png-transparent-balsamiq-mockup-website-wireframe-computer-icons-user-interface-mockups-logo-white-face-user-interface-design-thumbnail.png" alt="">
  </div>
  <div class="menu" *ngIf="!isLoggedIn()">
    <button routerLink="/sesion">Login</button>
  </div>
</header>

<router-outlet class="router-outlet"></router-outlet>

<footer>
  <h3>Facultad de Medicina</h3>
</footer>