/* Estilos CSS para home.component.css */
.cuerpo {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    padding: 10px;
}

.container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.base {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.category {
    font-weight: bold;
    width: 180px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tissue {
    font-weight: bold;
    width: 150px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tissue-group {
    margin-bottom: 20px; /* Espaciado entre grupos de tejidos */
    border: 1px solid #e0e0e0; /* Borde alrededor de cada grupo */
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para cada grupo */
    border-radius: 5px;
}

.orden {
    display: flex;
    flex-wrap: wrap; /* Permite que las im치genes se ajusten autom치ticamente */
    gap: 10px; /* Espacio entre las muestras */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.orden-content {
    flex: 0 0 auto; /* Establece el tama침o fijo para cada muestra */
    text-align: center;
    width: 100px; /* Tama침o fijo de ancho para cada muestra */
    margin-bottom: 10px; /* Espacio entre muestras */
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-category {
    border: none;
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out;
}

.list-group-category:hover {
    background-color: #0056b3;
}

.list-group-category:active {
    transform: scale(0.95);
}

.list-group-item {
    background-color: #f5f5f5;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}
.filters{
    background-color: #f5f5f5;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    min-width: 175px;
}